:root {
  --light-bg: #ffffff;
  --light-footer-bg: #1d202e;
  --chun-font-size-h1: 34px;
  --chun-font-size-h2: 30px;
  --chun-font-size-h3: 26px;
  --chun-font-size-h4: 22px;
  --chun-font-size-h5: 18px;
  --chun-font-size-h6: 14px;
  --chun-font-size-p: 14px;
  --chun-info-color: #474748;
  --chun-primary-color: #07c160;
  --chun-success-color: #07c160;
  --chun-error-color: #ee0a24;
  --chun-warning-color: #e6a700;


  --mobile-bg-end: #0B0F28;
  --mobile-bg-front: linear-gradient(to right, #17246b, #101638);
  --mobile-bg-front2: linear-gradient(to bottom, #17246b, #101638);
  --mobile-title-main: #4093f1;


  --chun-gray-1: #6e6e6e;
  --chun-gray-2: #f2f3f5;
  --chun-red: #ee0a24;
  --chun-blue: #4093f1;
  --chun-orange: #ff976a;
  --chun-orange-dark: #ed6a0c;
  --chun-orange-light: #fffbe8;
  --chun-green: #07c160;
 

}